* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 160px;
    padding: 0 30px;
    
    background-color: gray;
}

header img {
    width: 36px;
    height: 36px;

    border-radius: 24px;
    background-color: white;

    margin-right: 30px;
}

header a {
    text-decoration: none;

    margin: 0 6px;

    color: black;
}

.headerTitle {
    display: flex;

    align-items: center;
}

nav {
    display: flex;

    margin-left: 400px;
}

section {
    display: flex;
    justify-content: center;

    margin-top: 150px;
}
